In [1]:
# Whether the users similar to user 1 will like or doesnot like the movie.. 
#so reccomending the same movies which user 1 liked to similar users
2.02

In [5]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from sklearn.linear_model import LogisticRegression

In [3]:
# Load user data
user = pd.read_csv('G:/material/Python/Project/ml-1m/ml-1m/users.dat',sep='::', encoding='latin-1',
                 names=['UserID','Gender','Age','Occupation','Zip-code'])

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [4]:
user.head()

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455